[Unit]
Description=CAN Interface Configuration Daemon
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/can_if start
ExecStop=/home/pi/can_if stop

[Install]
WantedBy=multi-user.target
