[Unit]
Description=CANopen Master Daemon
After=can_if.service
Requires=can_if.service

[Service]
Type=idle
ExecStart=/home/pi/canopen-master.py

[Install]
WantedBy=can_if.service
