[Unit]
Description=WebSocket-to-CAN Daemon
After=can_if.service
Requires=can_if.service

[Service]
Type=idle
ExecStart=/home/pi/websocketcan-server.py

[Install]
WantedBy=can_if.service
